<ion-header>
  <ion-toolbar>
    <ion-title> Configurações </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-icon name="key-outline"></ion-icon>
      <ion-label>
        <h2>Conta</h2>
        <p>Privacidade - Segurança</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>
        <h2>Conversas</h2>
        <p>Tema - Papel De Parede - Historico</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="help-outline"></ion-icon>
      <ion-label>
        <h2>Ajuda</h2>
        <p>Central de Ajuda - Fale Conosco - Politica de Privacidade</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="sunny-outline"></ion-icon>
      <ion-label>
        <h2>Sobre</h2>
        <p>
          Somos um aplicativo para compartilhar a praia que voce está e<br />
          como está o tempo, ondas e clima
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
